@model Models.Requests.GetFlightSchedulesRequest
@using System.Data
@{
    ViewBag.Title = "Index";
}

<style>
    .tablef {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
    }
</style>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">

<script>

    $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetCitiesByCountryCode", "BookFlight")",
        success: function (result) {
            console.log(result);

            //To city AJAX CALL
            $('#to_cities').html('');

            var options = '';
            options += '<option value="">--Select City--</option>';
            for (var i = 0; i < result.Cities.length; i++) {


                options += '<option value="' + result.Cities[i].CityCode + '">' + result.Cities[i].Name + '</option>';
            }
            $('#to_cities').append(options);



            //From city AJAX CALL
             $('#from_cities').html('');

            var options = '';
            options += '<option value="">--Select City--</option>';
            for (var i = 0; i < result.Cities.length; i++) {


                options += '<option value="' + result.Cities[i].CityCode + '">' + result.Cities[i].Name + '</option>';
            }
            $('#from_cities').append(options);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
    });


     $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetAirLineByCountryCode", "BookFlight")",
        success: function (response) {
            console.log(response);
            //$('#GetAirLine').html('');
            //var appenddata1 = '<option value="0">--Select Airline--</option>';
            //            for (var x = 0; x < GetAirLine.length; x++) {
            //                appenddata1 += (`
            //                   <option value="${GetAirLine[x]}">${GetAirLine[x]}</option>
            //               `);
            //               }
            //$("#GetAir                Line").append(appenddata1);

              $('#GetAirLine').html('');

            var options = '';
            options += '<option value="">--Select Airline--</option>';
            for (var i = 0; i < response.AirLines.length; i++) {


                options += '<option value="' + response.AirLines[i].Code + '">' + response.AirLines[i].Name + '</option>';
            }
            $('#GetAirLine').append(options);

        },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
     });


    //Travel Catogory AJAX Call
      $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "@Url.Action("GetTravelCategory", "BookFlight")",
        success: function (response) {
            console.log(response);
            $('#GetTravelCat').html('');
            var appenddata1 = '<option value="">--Select Category--</option>';
                        for (var x = 0; x < response.length; x++) {
                            appenddata1 += (`
                               <option value="${response[x].Code}">${response[x].Name}</option>
                           `);
                           }
              $("#GetTravelCat").append(appenddata1);
             },
        error: function (xhr,status, exception) {
            console.log("Error: " + exception + ", Status: " + status);
        }
     });
</script>




<div id="GetCitiesRow" style="margin-top:50px">
    <label class="col-sm-1 col-md-1">To City</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="to_cities" name="GetCities" class="form-control">
            <option value="">--Select City--</option>
        </select>

    </div>
</div>

<div id="GetCitiesRow" style="margin-top:50px">
    <label class="col-sm-1 col-md-1">From City</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="from_cities" name="GetCities" class="form-control">
            <option value="">--Select City--</option>
        </select>

    </div>
</div>

<br />
<div id="GetAirLineRow" style="margin-top:70px">
    <label class="col-sm-1 col-md-1">Airline</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="GetAirLine" name="GetAirLine" class="form-control">
            <option value="">--Select Airline--</option>
        </select>

    </div>
</div>

<div id="GetTravelCatRow" style="margin-top:70px">
    <label class="col-sm-1 col-md-1">Travel Class</label>
    <div class="col-sm-5 col-md-5" style="color:black">
        <select id="GetTravelCat" name="GetTravelCat" class="form-control">
            <option value="">--Select Category--</option>
        </select>

    </div>
</div>

<br />


<div style="margin-top:50px">
    <div class="col-sm-8 col-md-8" ">
        <div class="col-sm-2 col-md-2">
            <label>Reservation Date</label>

        </div>


        <div class="col-sm-5 col-md-5">
            <input id="To_date" type="text">

            <script>
                var datepicker = new ej.calendars.DatePicker({ width: "255px" });
                datepicker.appendTo('#To_date');
            </script>
        </div>
    </div>

</div>

<br />
<div style="margin-top:100px">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="#" class="btn btn-success btn-lg" id="Find">Find Flight &raquo;</a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="/FRSApplication" class="btn btn-danger btn-lg">GoBack to Main &raquo;</a>
    </div>
</div>

<br />


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

    $(function () {
    $("#Find").click(function () {

        //var GetFlightSchedulesRequest;
        //GetFlightSchedulesRequest = { AirLineCode: $("#GetAirLine").val, TravelCategoryCode: 'FC', FromCity: $("#from_cities"), ToCity: $("#to_cities"), ReservationDate: $("#From_date") };

        var flightSchedule = {};
        flightSchedule.AirLineCode = $("#GetAirLine").val();
        flightSchedule.TravelCategoryCode = $("#GetTravelCat").val();
        flightSchedule.FromCity = $("#from_cities").val();
        flightSchedule.ToCity = $("#to_cities").val();
         flightSchedule.ReservationDate = $("#To_date").val();

        $.ajax({
            url: "@Url.Action("GetFlightSchedules", "CheckSchedules")",
            type: "POST",
            data: {
                request: flightSchedule,
            },
            success: function (result) {
                console.log(result);
                text.style.display = "block";

                var flightScheduledData = result;

                if (flightScheduledData.FlightReservationDetails.length == 0) {
                    $('.flightScheduleDetailsWrapperEmpty').fadeIn();
                } else {
                    $('.flightScheduleDetailsWrapperEmpty').hide();
                }
                $('#flightScheduleWrapperData').html('');

                for (i = 0; i < flightScheduledData.FlightReservationDetails.length; i++) {
                    var onclick = 'onclick="document.getElementById(\'id01\').style.display=\'block\'"';
                    //$('#flightScheduleWrapperData').append('<tr id=' + i + '><td>' + i + '</td><td>' + flightScheduledData.FlightReservationDetails[i].AirLine + '</td><td>' + flightScheduledData.FlightReservationDetails[i].FromCity + '</td><td>' + flightScheduledData.FlightReservationDetails[i].ToCity + '</td><td>' + flightScheduledData.FlightReservationDetails[i].TravelCategory + '</td><td>' + flightScheduledData.FlightReservationDetails[i].UIDepartureTime + '</td><td>' + flightScheduledData.FlightReservationDetails[i].UIArrivalTime + '</td><td><input type="hidden" value="' + flightScheduledData.FlightReservationDetails[i].ReservationCode + '" />');
                    $('#flightScheduleWrapperData').append('<tr id=' + i + '> <td><button onclick="document.getElementById(\'id01\').style.display=\'block\'" class="btn btn-primary">Book Now</button>' + flightScheduledData.FlightReservationDetails[i].AirLine + '</td><td>' + flightScheduledData.FlightReservationDetails[i].FromCity + '</td><td>' + flightScheduledData.FlightReservationDetails[i].ToCity + '</td><td>' + flightScheduledData.FlightReservationDetails[i].TravelCategory + '</td><td>' + flightScheduledData.FlightReservationDetails[i].UIDepartureTime + '</td><td>' + flightScheduledData.FlightReservationDetails[i].UIArrivalTime + '</td><td>' + flightScheduledData.FlightReservationDetails[i].AvailableSeats+ '</td><td>' + flightScheduledData.FlightReservationDetails[i].PricePerSeat + '</td><td><input type="hidden" value="' + flightScheduledData.FlightReservationDetails[i].ReservationCode + '" /></td></tr>');
                }

            },
            error: function () {
                text.style.display = "none";
            }
        });
    });
    });

</script>


@*<p id="text" style="display:none">Checkbox is CHECKED!</p>*@
<br />
@*<table  class="bordered striped highlight responsive-table" style="width: 100%;">*@
<table id="text" class="tablef" style="display:none;margin-top:70px">
    <thead>
        <tr>
            <th>Airline</th>
            <th>From City</th>
            <th>To City</th>
            <th>Travel Category</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Available Seats</th>
            <th>Price Per Seat</th>
        </tr>
    </thead>
    <tbody id="flightScheduleWrapperData" style="font-size: 13px;"></tbody>
    <div class="flightScheduleDetailsWrapperEmpty" style="margin-top:70px">No Data Found</div>
</table>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container w3-sand">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <h2>Book Your Flight</h2>
        </header>
        <table cellpadding="0" cellspacing="0">
            <table class="w3-table-all w3-small">
                <tr class="w3-blue-grey">
                    <th>Airline</th>
                    <th>From City</th>
                    <th>To City</th>
                    <th>Travel Category</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Available Seats</th>
                    <th>Price Per Seat</th>
                </tr>
                @*@foreach (DataRow row in Model.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["TRANSACTION_ID"]</td>
                            <td>@row["FROM_ACCOUNT"]</td>
                            <td>@row["TO_ACCOUNT"]</td>
                            <td>@row["TRANSACTION_TYPE"]</td>
                            <td>@row["TRANSACTION_DATE"]</td>
                            <td>@row["AMOUNT"]</td>
                            <td>@row["ACCOUNT"]</td>
                        </tr>
                    }*@
            </table>
            <footer class="w3-container w3-sand">
                <p></p>
            </footer>
    </div>
</div>